.related-page-card[data-theme="default-dark"] {
  --card-title-bg: hsl(0, 0%, 39%);
}
.related-page-card[data-theme="default-minimal"] {
  --card-title-bg: hsl(0, 0%, 89%);
}
.related-page-card[data-theme="paper-light"] {
  --card-title-bg: hsl(53, 8%, 58%);
}
.related-page-card[data-theme="paper-dark-dark"] {
  --card-title-bg: hsl(203, 42%, 17%);
}
.related-page-card[data-theme="blue"] {
  --card-title-bg: hsl(227, 68%, 62%);
}
.related-page-card[data-theme="purple"] {
  --card-title-bg: hsl(267, 39%, 60%);
}
.text-bubble[data-theme="green"] {
  --card-title-bg: hsl(136, 29%, 50%);
}
.related-page-card[data-theme="orange"] {
  --card-title-bg: hsl(43, 71%, 51%);
}
.related-page-card[data-theme="red"] {
  --card-title-bg: hsl(4, 58%, 56%);
}
.related-page-card[data-theme="spring"] {
  --card-title-bg: hsl(72, 64%, 57%);
}
.related-page-card[data-theme="kyoto"] {
  --card-title-bg: hsl(331, 21%, 26%);
}
.related-page-card[data-theme="newyork"] {
  --card-title-bg: hsl(176, 29%, 67%);
}

.related-page-card {
  display: block;
  position: relative;
  height: inherit;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto", Helvetica, Arial, "Hiragino Sans", sans-serif;
  background-color: var(--card-bg, #fff);
  color: var(--card-title-color, #555);
  word-break: break-word;
  text-decoration: none;
}
.related-page-card:hover {
  box-shadow: var(--card-box-hover-shadow, 0 2px 0 rgba(0, 0, 0, 0.23));
}
.related-page-card:focus {
  outline: 0;
  box-shadow: 0 0px 0px 3px rgba(102, 175, 233, 0.6);
  border-color: #66afe9;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.related-page-card.hover {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--card-hover-bg, rgba(0, 0, 0, 0.05));
  mix-blend-mode: multiply;
  z-index: 1;
  transition: background-color 0.1s;
}
.related-page-card:hover .hover {
  opacity: 1;
}
.related-page-card:active .hover {
  opacity: 1;
  background-color: var(--card-active-bg, rgba(0, 0, 0, 0.1));
}
.related-page-card .content {
  height: calc(100% - 5px);
  width: inherit;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.related-page-card .content .header {
  width: 100%;
  color: #396bdd;
  text-overflow: ellipsis;
  border-top: var(--card-title-bg, #f2f2f3) solid 10px;
  padding: 8px 10px;
}
.related-page-card .content .header .title {
  font-size: 11px; /* 14 * 0.8 */
  line-height: 16px; /* 20 * 0.8 */
  font-weight: bold;
  max-height: 48px; /* 60 * 0.8 */
  color: var(--card-title-color, #363c49);
  margin: 0;
  overflow: hidden;
  display: block;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.related-page-card .content .description {
  line-height: 16px; /* 20 * 0.8 */
  padding: 8px 10px 0;
  font-size: 10px; /* 12 * 0.8 */
  white-space: pre-line;
  column-count: 1;
  column-gap: 2em;
  column-width: 10em;
  height: inherit;
  color: var(--card-description-color, gray);
  flex-shrink: 16;
  overflow: hidden;
}
.related-page-card .content .thumbnail {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
}
.related-page-card .content .description p {
  margin: 0;
  display: block;
}
.related-page-card .content .description code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 90%;
  color: var(--code-color, #342d9c);
  background-color: var(--code-bg, rgba(0, 0, 0, 0.04));
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.related-page-card .content .description .icon {
  height: 9px; /* 11 * 0.8 */
  vertical-align: middle;
}
.related-page-card .content .description .page-link {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  color: var(--page-link-color, #5e8af7);
}
